<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Рассылки</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
       {% include './header.html'%}
       <div class="row gx-12 gx-lg-5 align-items-center my-5">
           <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/1.png'%}" alt="..." /></div>
       </div>
       {% block content %}
       {% endblock content %}
       {% include './footer.html'%}
       <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
       <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
