{% extends './base.html'%}
{% load static %}
{% block content %}
  <div class="container px-4 px-lg-5">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Почта</th>
            <th scope="col">Заметки</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
            {% if object_list %}
              {% for client in object_list %}
                <tr>
                  <th scope="row">{{ client.pk }}</th>
                  <td>{{ client.name }}</td>
                  <td>{{ client.email }}</td>
                  <td>{{ client.comments }}</td>
                  <td>
                    <a class="btn btn-success btn-sm mr-10" href="{% url 'mailings:client_detail' client.pk %}">Просмотреть</a>
                    <a class="btn btn-warning  btn-sm mr-10" href="{% url 'mailings:client_update' client.pk %}">Изменить</a>
                    <a class="btn btn-danger btn-sm mr-10" href="{% url 'mailings:client_delete' client.pk %}">Удалить</a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
                <h2 class="card-title">Нет клиентов</h2>
            {% endif %}
        </tbody>
    </table>
    <a class="btn btn-info btn-sm mb-10 mt-10" href="{% url 'mailings:client_create' %}">Добавить клиента</a>
  </div>
{% endblock content %}