{% extends './base.html'%}
{% load static %}
{% block content %}
  <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            {% if object_list %}
            {% for message in object_list %}
                <div class="row gx-12 gx-lg-5">
                    <div class="col-md-12 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title">{{ message.title }}</h2>
                                <p class="card-text">{{ message.body }}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-primary btn-sm" href="{% url 'mailings:message_detail' message.pk %}">Показать сообщение</a>
                                <a class="btn btn-info btn-sm mb-10" href="{% url 'mailings:message_create' %}">Создать новое сообщение</a>
                                {% if perms.mailings.update_message %}
                                    <a class="btn btn-warning btn-sm mb-10" href="{% url 'mailings:message_update' message.pk %}">Изменить сообщение</a>
                                {% endif %}
                                {% if perms.mailings.update_message %}
                                    <a class="btn btn-danger btn-sm mb-10" href="{% url 'mailings:message_delete' message.pk %}">Удалить сообщение</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% else %}
                <h2 class="card-title">Нет сообщений</h2>
            {% endif %}
            <a class="btn btn-info btn-sm mb-10" href="{% url 'mailings:message_create' %}">Создать новое сообщение</a>
        </div>
{% endblock content %}