{% extends './base.html'%}
{% load static %}
{% load custom_filters %}
{% block content %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Дата Начала</th>
            <th scope="col">Дата Окончания</th>
            <th scope="col">Дата Первой рассылки</th>
            <th scope="col">Дата Последней рассылки</th>
            <th scope="col">Период</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody>
            {% if object_list %}
              {% for notification in object_list %}
                <tr>
                  <th scope="row">{{ notification.pk }}</th>
                  <td>{{ notification.start_at|date:'Y-m-d' }}</td>
                  <td>{{ notification.finish_at|date:'Y-m-d' }}</td>
                  <td>{{ notification.first_send_time|date:'Y-m-d' }}</td>
                  <td>{{ notification.last_send_time|date:'Y-m-d' }}</td>
                  <td>{{ period|get_item:notification.period }}</td>
                  <td>{{ status|get_item:notification.status }}</td>
                  <td>
                    {% if perms.mailings.view_notification %}
                      <a class="btn btn-success btn-sm mr-10" href="{% url 'mailings:notification_detail' notification.pk %}">Просмотреть</a>
                    {% endif %}
                    <a class="btn btn-success btn-sm mr-10" href="{% url 'mailings:notification_detail' notification.pk %}">Просмотреть</a>
                    {% if notification.status != 'f' and perms.mailings.update_status %}
                        <a class="btn btn-danger btn-sm mr-10" href="{% url 'mailings:notification_finish' notification.pk %}">Завершить рассылку</a>
                    {% endif %}
                    {% if perms.mailings.update_notification%}
                        <a class="btn btn-warning  btn-sm mr-10" href="{% url 'mailings:notification_update' notification.pk %}">Изменить</a>
                    {% endif %}
                     {% if perms.mailings.delete_notification %}
                        <a class="btn btn-danger btn-sm mr-10" href="{% url 'mailings:notification_delete' notification.pk %}">Удалить</a>
                     {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% else %}
                <h2 class="card-title">Нет клиентов</h2>
            {% endif %}
        </tbody>
    </table>
    <a class="btn btn-info btn-sm mb-10 mt-10" href="{% url 'mailings:notification_create' %}">Добавить Рассылку</a>
{% endblock content %}