{% extends 'mailings/base.html' %}
{% block content %}
    <div class="container">
        <div class="row col-12">
            <div class="card">
                <div class="card-title">Восстановление пароля</div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="form-control" name="email">
                        <button class="btn btn-outline-success" type="submit">Сбросить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}